1 - Write a code to reverse a string.

In [ ]:
string = "Hello Neha"
reversed_string = string[::-1]
print(reversed_string)

aheN olleH

2 - write a code to count the number of vowels in a string .

In [ ]:
vowels = "aeiouAEIOU"
string = "Hello Neha"
count = 0
for char in string:
    if char in vowels:
        count += 1
print(count)

4

3 -  Write a code to check if a given string is a palindrome or not.

In [ ]:
str1 = "madam"
str2 = str1[::-1]
if str1 == str2:
    print(" str1 is Palindrome")
else:
    print("str1 is Not Palindrome")

 str1 is Palindrome

4 - Write a code to check if two given strings are anagrams of each other.

In [ ]:
str1 = "listen"
str2 = "silent"
if sorted(str1) == sorted(str2):
    print("str1 and str2 are anagrams")
else:
    print("str1 and str2 are not anagrams")

str1 and str2 are anagrams

5 -  Write a code to find all occurrences of a given substring within another string.

In [ ]:
str3 = 'abracadabra'
substring = 'ra'
occurrences = [i for i in range(len(str3)) if str3.startswith(substring, i)]
print(occurrences)

[2, 9]

6 -  Write a code to perform basic string compression using the counts of repeated characters.

In [15]:
def compress_string(s):
    if not s:
        return ""

    compressed = []
    count = 1

    # Iterate through the string
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    # Append the last character and its count
    compressed.append(s[-1] + str(count))

    # Join the list into a compressed string
    compressed_string = ''.join(compressed)

    # Return the original string if the compressed one is not smaller
    return compressed_string if len(compressed_string) < len(s) else s

# Example usage:
input_string = "aaabbccccdaa"
compressed_string = compress_string(input_string)
print(f'Compressed string: {compressed_string}')

Compressed string: a3b2c4d1a2

7 - Write a code to determine if a string has all unique characters.

In [16]:
str1 = "neha"
if len(str1) == len(set(str1)):
    print("str1 has all unique characters")
else:
    print("str1 does not have all unique characters")

str1 has all unique characters

8 - Write a code to convert a given string to uppercase or lowercase.

In [17]:
str1 = "Neha"
print(str1.lower())

neha

In [18]:
str1 = "neha"
print(str1.upper())

NEHA

9 - Write a code to count the number of words in a string.

In [21]:
string1 = 'I am Neha, How are you?'
Number_of_words = len(string1.split())
print(f'Number of words: {Number_of_words}')

Number of words: 6

10 - Write a code to concatenate two strings without using the + operator.

In [24]:
#concatenate two strings
string1 = "Hii, "
string2 = "How are you?"
result = ''.join([string1, string2])
print(result)

Hii, How are you?

11 - Write a code to remove all occurrences of a specific element from a list.

In [26]:
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
my_list = [x for x in my_list if x != element_to_remove]
print(my_list)

[1, 3, 4, 5]

12 -  Implement a code to find the second largest number in a given list of integers.

In [27]:
my_list = [1, 2, 3, 4, 5]
my_list.sort()
second_largest = my_list[-2]
print(second_largest)

4

13 -  Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [28]:
my_list = [1, 2, 3, 2, 4, 2, 5]
element_counts = {}
for element in my_list:
    if element in element_counts:
        element_counts[element] += 1
    else:
        element_counts[element] = 1
print(element_counts)

{1: 1, 2: 3, 3: 1, 4: 1, 5: 1}

14 - Write a code to reverse a list in-place without using any built-in reverse functions.

In [32]:
def reverse_list(lst):
    left = 0
    right = len(lst) - 1

    while left < right:
        # Swap elements at the left and right indices
        lst[left], lst[right] = lst[right], lst[left]
        # Move towards the center
        left += 1
        right -= 1

# Example usage:
my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print('Reversed list:', my_list)

Reversed list: [5, 4, 3, 2, 1]

15 -  Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [35]:
my_list = [1, 2, 3, 2, 4, 2,4,5,6, 5]
unique_list = []
for element in my_list:
    if element not in unique_list:
        unique_list.append(element)
my_list = unique_list
print(my_list)

[1, 2, 3, 4, 5, 6]

16 - Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [38]:
def is_sorted(lst):
    if not lst:
        return True  # An empty list is considered sorted

    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))

    return ascending or descending

# Example usage:
my_list = [1, 2, 3, 4, 5,6,7,8,9,10]
if is_sorted(my_list):
    print('The list is sorted.')
else:
    print('The list is not sorted.')

# Testing with a descending list
my_list_desc = [5, 4, 3, 2, 1]
if is_sorted(my_list_desc):
    print('The list is sorted.')
else:
    print('The list is not sorted.')

The list is sorted.
The list is sorted.

17 - Write a code to merge two sorted lists into a single sorted list.

In [39]:
sorted_list1 = [1, 3, 5, 7, 9]
sorted_list2 = [2, 4, 6, 8, 10]
merged_list = sorted(sorted_list1 + sorted_list2)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

18 - Implement a code to find the intersection of two given lists.

In [41]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = list(set(list1) & set(list2))
print(intersection)

[3, 4, 5]

19 - Create a code to find the union of two lists without duplicates.

In [42]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
union = list(set(list1 + list2))
print(union)

[1, 2, 3, 4, 5, 6, 7]

20 - Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [43]:
list1 = [1, 2, 3, 4, 5]
import random
shuffled_list = random.sample(list1, len(list1))
print(shuffled_list)

[4, 3, 1, 5, 2]

21 - Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [44]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
common_tuple = tuple(set(tuple1) & set(tuple2))
print(common_tuple)

(3, 4, 5)

22 - Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [48]:
set1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(',')))
intersection = set1.intersection(set2)
print("Intersection:", intersection)

Enter the first set of integers separated by commas: 1,2,3,4,5
Enter the second set of integers separated by commas: 5,4,3,2,6,7,8,9
Intersection: {2, 3, 4, 5}

23 - Write a code to concatenate two tuples. The function should take two tuples as input and return a new ,tuple containing elements from both input tuples.

In [49]:
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)
concatenated_tuple = tuple_1 + tuple_2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

24 - Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [51]:
set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
set2 = set(input("Enter the second set of strings separated by commas: ").split(','))
difference = set1.difference(set2)
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings separated by commas: 'neha','priyanka','mona'
Enter the second set of strings separated by commas: 'priya', anushka
Elements in the first set but not in the second set: {"'priyanka'", "'neha'", "'mona'"}

25 - Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [53]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))
new_tuple = tuple1[start_index:end_index+1]
print(new_tuple)

Enter the start index: 2
Enter the end index: 10
(3, 4, 5, 6, 7, 8, 9, 10)

26 -  Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [57]:
set1 = set(input("Enter the first set of characters separated by commas: ").split(','))
set2 = set(input("Enter the second set of characters separated by commas: ").split(','))
union = set1.union(set2)
print("Union:", union)

Enter the first set of characters separated by commas: 1,2,3,5,6
Enter the second set of characters separated by commas: 4,5,3,2,1
Union: {'6', '2', '4', '3', '5', '1'}

27 -  Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [58]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
max_value, min_value = max(tuple1), min(tuple1)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 10
Minimum value: 1

28 -  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [59]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
union = set1.union(set2)
intersection = set1.intersection(set2)
difference = set1.difference(set2)
print("Union:", union)
print("Intersection:", intersection)
print("Difference:", difference)

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3, 4, 5}
Difference: {1, 2}

29 - Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [61]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
element = int(input("Enter the element: "))
count = tuple1.count(element)
print("Count of occurrences:", count)

Enter the element: 1
Count of occurrences: 1

30 -  Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [69]:
set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
set2 = set(input("Enter the second set of strings separated by commas: ").split(','))
symmetric_difference = set1.symmetric_difference(set2)

print("Symmetric difference:", symmetric_difference)

Enter the first set of strings separated by commas: mango,apple, banana
Enter the second set of strings separated by commas: berry, orange
Symmetric difference: {' orange', 'mango', 'apple', 'berry', ' banana'}

31 -  Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [70]:
my_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
word_frequency = {}
for word in my_list:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1
print(word_frequency)

{'apple': 3, 'banana': 2, 'orange': 1}

32 -  Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [78]:
my_dict1 = {'a': 1, 'b': 2, 'c': 3}
my_dict2 = {'b': 4, 'c': 5, 'd': 6}
merged_dict = {}
for key, value in my_dict1.items():
    merged_dict[key] = value
for key, value in my_dict2.items():
  my_dict1 = {'a': 1, 'b': 2, 'c': 3}
  my_dict2 = {'b': 4, 'c': 5, 'd': 6}
merged_dict = {}
for key, value in my_dict1.items():
    merged_dict[key] = value
for key, value in my_dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value
print(merged_dict)

{'a': 1, 'b': 6, 'c': 8, 'd': 6}

33 - write a code to access a value in a nested dictionary. The function sholud take the dictonary and a list of keys as input, and return the corresponding value. if any of the keys do not exist in the dictionary, the function should return None.

In [81]:
nested_dict = {'a': {'b': 2, 'c': 3}, 'd': {'e': 5, 'f': 6}}
keys = ['a', 'b']
value = nested_dict
for key in keys:
    if key in value:
        value = value[key]
    else:
        value = None
        break
print(value)

2

34 -  Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [82]:
my_dict1 = {'a': 3, 'b': 1, 'c': 2}
sorted_dict = dict(sorted(my_dict1.items(), key=lambda x: x[1]))
print(sorted_dict)

{'b': 1, 'c': 2, 'a': 3}

35 - Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [83]:
my_dict1 = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted_dict = {}
for key, value in my_dict1.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)
    else:
        inverted_dict[value] = [key]
        print(inverted_dict)

{1: ['a']}
{1: ['a'], 2: ['b']}
{1: ['a', 'c'], 2: ['b'], 3: ['d']}