1 - Explain the key features of Python that make it a popular choice for programming.

Global Usage: Python is used by businesses all over the world for their technology solutions, and other industries as well that makes Python a demanding choice for programming.

Simplicity:-Python is a great language for beginners because of its clear and straightforward syntax. Its English-based commands and simple style make the learning easy.

Source & Libraries:- Python provides wide source, a huge ecosystem of libraries and frameworks. Example - data analysis (pandas, NumPy), machine learning (TensorFlow, scikit-learn).

Python is adaptable and flexible:-Since Python is a general-purpose language, a vast range of applications can be made using it.

2 - Describe the role of predefined keywords in python and provide example of how they are used in a programme.

Some of the Python keywords are following:

True , False and None: - They present Boolean value. They are also used in conditional statements for executing the code of block.

In [1]:
#example of True, False and none
a=5
b=10
c=b>a
print(c)

True

in,is,or,not,and:- These keywords are used for logical problem.

and :- The “and” keyword will express True if both the statements are true otherwise it will state False.

In [2]:
#example of and

In [6]:
x=(40>20 and 30>10)
print(x)

True

In [8]:
#example of or
x= 5>4 or 4>5
print(x)

True

Not:- The “Not” keyword express true if the statement is false

In [9]:
#example of Not
x = True
print(not x)

False

Is:-  The ‘is’ keyword express true if one statement is equal to the other one if not then it express false

In [14]:
x= ( "yellow","black","white" )
y=x
print(x is y)

True

3 - Compare and contrast mutable and immutable objects in Python with examples.

Immutable objects:- Datatypes such as int, float, bool, text, Unicode, and tuple are all built into immutable objects. To put it simply, once an immutable object is formed, it cannot be altered.

In [15]:

#example  of immutable object
name="neha"
print(name)

neha

In [16]:
name="Neha"
print(name)

Neha

thus, strings are immutable.

Mutable Objects:- Python lists, Python dicts, and Python sets are the types of mutable objects. In general, custom classes can be changed.

In [17]:
numbers = [1,2,3,4]
numbers.append(5)
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#thus, list is mutable object.

4 - Discuss the different types of operators in Python and provide examples of how they are used.

operators are used in Python programming to manipulate variables and values. These are common symbols for mathematical and logical procedures. We shall examine many kinds of Python operators in this article

In [18]:
#Arithematic Operator
#example
a=5
b=8
print(a+b)

13

In [19]:
print(a-b)

-3

In [20]:
print(a*b)

40

In [21]:
print(a/b)

0.625

In [22]:
print(b%a)

3

In [26]:
#Comparison Operator
#Example
c=5
print(a==b)
print(a==c)

False
True

In [27]:
print(a!=b)
print(a!=c)

True
False

In [28]:
print(a>b)
print(b>c)

False
True

In [29]:
print(c<b)

True

In [30]:
print(a<=b)
print(a<=c)

True
True

In [32]:
print(a>=b)

False

5 - Explain the concept of type casting in Python with example.

The process of transforming a Python specific variable datatype into a data type so that users can carry out the necessary operation is known as type casting. We shall examine the different typecasting approaches in article. In Python, type casting can this take two forms:

1-	Python Implicit Type Conversion:-  In this, method, Python converts the datatype into another datatype on its own. Users don’t have to involve in this process.

In [33]:
print(type(a))

<class 'int'>

2-	Python Explicit Type Conversion:- Python requires user intervention in order to change the variable data type to the desired data type in this procedure.

In [38]:
a=str("a")
print(type(a))

<class 'str'>

6 - How do conditional statements work in Python? Illustrate with the example.

Conditional statements:-   conditional statements provide the control flow an option depending on a condition. It indicates that the outcome of the condition will determine the Python program's control flow.

In [40]:
# if statement
if 10>5:
  print("10 is greater than 5")

10 is greater than 5

In [42]:
# if esle statement
x=7
if x==5:
  print("yes")
else:
    print("no")

no

In [54]:
#nested if else statement
letter = "a"

if letter == "b":
    print("letter is b")

else:

    if letter == "c":
        print("letter is c")

    else:

        if letter == "A":
            print("letter is a")

        else:
            print("letter isn't a, b and c")

letter isn't a, b and c

In [55]:
#if elif statement
letter = "a"

if letter == "b":
    print("letter is b")

elif letter == "c":
    print("letter is c")

elif letter == "a":
    print("letter is a")

else:
    print("letter isn't a, b or c")

letter is a

7 - Describe the different types of loops in python and their use cases with example.

While Loop in Python

In Python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the line immediately after the loop in the program is executed

In [56]:
count = 0
while (count < 5):
    count = count + 1
    print("Hello Neha")

Hello Neha
Hello Neha
Hello Neha
Hello Neha
Hello Neha

In [57]:
n = 8
for i in range(0, n):
    print(i)

0
1
2
3
4
5
6
7